@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Space Grotesk", sans-serif;
    background-color: black;
    background-image: radial-gradient(circle at center, rgba(255,255,255,0.005) 0, rgba(255,
    255,255,0.005) 1px, transparent 1px),
    linear-gradient(to right, rgba(255,255,255,0.01) 1px, transparent 1px),
    linear-gradient(to bottom, rgba( 255,255,255,0.01) 1px, transparent 1px);
    background-size: 20px 20px;
    background-color: #191616;
  }
  
  .glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }
  
  .glass-nav{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }

  
  .glass-gradient {
    /* Use a linear gradient with multiple colors for the aurora effect */
    background: linear-gradient(135deg,#ff6b6b, rgba(145, 175, 167, 0.494), #ff6b6b);
    backdrop-filter: blur(10px); /* Apply a blur effect to elements behind the div */
    border-radius: 20px; /* Rounded corners */
    border: 1px solid rgba(255, 255, 255, 0.18); /* Light white border */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); /* Shadow for depth */
  }
  